    .feed_group {
        @mixin button_style_basic {
            margin: 0;
            padding: 0;
            color: #56A5F2;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 13px;
            font-weight: 700;
            text-align: right;
            text-decoration: none;
            display: inline-block;
            width: auto;
            background: none;
            border: none;
            width: 50px;
        }
     
        width: 100vw;
        height: 100vh;
        border: 1px solid #E4E4E4;
        background-color: white;
        width: 600px;
        margin-right: 35px;
        height: fit-content;

        span {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 14px;
        }
        
        .feed_header {
            height: 60px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0 13px;
            
            img {
                border: 0.5px solid #E4E4E4;
                height: 30px;
                width: 30px;
                border-radius: 70px;
                overflow: hidden; 
                object-fit: cover;
            }

            .profile_feed {
                display: flex;
                align-items: center;
            }

            .triple_dots {
                display: inline-block;
            }
            
            .fa-ellipsis {
                font-size: 18px;
                color: #303030;
            }

        }
        
        

        
        .feed_image img{
            width: 600px;
            max-height: 600px;
            overflow: hidden; 
            object-fit: cover;
            display:table-cell;
            vertical-align:middle;
        }


        
        .profile_img {
            display: inline-block;
        }
        
        .profile_name {
            display: inline-block;
            margin-left: 15px;
            font-size: 13px;
            font-weight: 800;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        
        .button_group {
            padding: 8px 10px;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        .button_group i {
            font-size: 22px;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }
        
        .fa-heart {
            color: #EE4955;
        }
        
        .like_sentence {
            margin-bottom: 15px;
            margin-left: 15px;
            display: flex;
            align-items: center;
        }
        
        .like_sentence img {
            border: 0.5px solid #E4E4E4;
            height: 20px;
            width: 20px;
            border-radius: 70px;
            overflow: hidden; 
            object-fit: cover;
            margin-right: 5px;
        }
        
        .like_sentence a {
            font-size: 13px;
            font-weight: 800;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        }
        
        
        
    }

    