@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    height: 100vh;
}
    
input:focus {
    outline:none;
}

button {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    width: auto;
    background: none;
    border: none;
}


.layout {
    background-color: #FAFAFA;
    width: 100vw;
    margin-top: 160px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}

